<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Heebo:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/style.css">
    <link rel="icon" href="{{site.baseurl}}/assets/img/favicon.jpg" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script defer src="./assets/js/popper.min.js"></script>
    <script defer src="h./assets/js/bootstrap.min.js"></script>
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-b2ffbc3d-44f2-4a7a-b0d2-1a1cc2b5955f"></div>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-215575286-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];3

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-215575286-1');
    </script>
 
    {% include head-seo.html %}
</head>