<div class="swiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="carousel_content-1">
                <div class="slider_content-text slide-up">
                    <div class=" carousel_content-para carousel_content-para1">
                        <h1 class="carousel_content-para--head">Un voyage de goût et de saveur avec votre traiteur dans le 91</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="floating-btns">
    <a class="phone" href="tel: {{site.data.company.phone[0]}}"><i class="fas fa-phone-alt">&emsp;{{site.data.company.phone[0]}}</i></a>
</div>